<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - CVC19</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/chartjs/dist/Chart.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.4.0/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/flags/css/flag-icon.min.css">

    <script src="~/lib/chartjs/dist/Chart.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">CVC19</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestão Vacinas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item text-dark" asp-controller="TipoVacina" asp-action="Index">Tipo de Vacina</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Vacina" asp-action="Index">Vacina</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Laboratorio" asp-action="Index">Laboratório</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestão Agente Patogênico
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="AgentePatogenico" asp-action="Index">Agente Patogênico</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="TipoAgentePatogenico" asp-action="Index">Tipo do Agente Patogênico</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-xl">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CVC19 - TCC - Desenvolvimento Web Full Stack - <a href="https://www.pucminas.br/" target="_blank">PUC-MG</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
