@model CVC19.ViewModel.LaboratorioViewModel

@{
    ViewData["Title"] = "Laboratório - Incluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title text-secondary">Laboratório</h4>
        <div class="col-md-12 mt-4"><hr /></div>
        <form id="myform" asp-action="Create" class="row g-3 mt-4">
            <div class="text-danger col-md-12" asp-validation-summary="ModelOnly"></div>
            <div class="form-floating col-auto">
                <input asp-for="Nome" class="form-control" size="30" placeholder="#" />
                <label asp-for="Nome" class="h6"></label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
           
            <div class="form-floating col-12">
                <input type="hidden" asp-for="PaisId" value="-1" />
                <input type="text" class="dropdown-toggle form-control-plaintext form-select" id="dropdownPais" data-bs-toggle="dropdown" aria-expanded="false" readonly onfocus="LimparPesquisa('#pesquisa')" />
                <label asp-for="PaisId" class="h6"></label>
                <span asp-validation-for="PaisId" class="text-danger"></span>
                <ul class="dropdown-menu" aria-labelledby="dropdownPais">
                    <li>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-search"></i></span>
                            <input class="form-control" id="pesquisa" type="text" onkeyup="FiltrarDropDown(this)" aria-describedby="inputGroupPrepend" />
                        </div>
                    </li>
                    <li>
                        <ul>
                            @foreach (Pais pais in (List<Pais>)ViewData["listaPais"])
                            {
                                string sigla = pais.Sigla.ToLower();
                                <li class="dropdown-item" data-id="@Html.DisplayFor(modelItem => pais.PaisId)" onclick="AtualizarValorDowpDown(this, '#dropdownPais', '#PaisId')">
                                    <span class="flag-icon flag-icon-@Html.DisplayFor(modelItem => sigla)"></span>
                                    @Html.DisplayFor(modelItem => pais.Nome)
                                    <small class="text-muted">(@Html.DisplayFor(modelItem => pais.PaisId))</small>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-sm text-end">
                <a href="#" onclick="$('#myform').submit()"><i class="bi bi-save2" style="font-size: 2rem" title="Incluir"></i></a>
                <a asp-action="Index"><i class="bi bi-arrow-left-square" style="font-size: 2rem" title="Voltar"></i></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
