@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso não permitido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Voc~e não pode acessar esse recurso.</p>
</header>
